@import url('https://fonts.googleapis.com/css?family=Exo+2');

*,
*:before,
*:after{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

body{
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    background: #030a13;
    font-size: 12px;
    font-weight:700;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 13px;
    opacity: .8;
    white-space: nowrap;
}


a:hover{
    opacity: 1;
}

.menu-item:first-of-type a{
    border-radius: 13px 0 0 21px;
}

.menu-item:last-of-type a{
    border-radius: 0 21px 13px 0;
}

.sub-menu .menu-item:first-of-type a{
    border-radius: 13px 21px 0 0;
}

.sub-menu .menu-item:last-of-type a{
    border-radius: 0 0 21px 13px;
}

nav{
    max-width: 360px;
    max-height: 480px;
    display: flex;
    align-items: flex-end;
    animation: bounceIn 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 1 forwards;
    animation-delay: 500ms;
    transform-style: preserve-3d;
    opacity: 0;
}

@keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scaleX(.55) scaleY(.89);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

ol{
    list-style: none;
    padding: 0;
    margin: 0;
    background: #030a13;
}

.sub-menu{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 89px;
    transform: skewY(-5deg) scale(.89) rotateX(-5deg) rotateZ(-3deg);
}

.sub-menu a{
    font-size: 15px;
}

.menu-item{
    position: relative;
    display: inline-flex;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    animation: showBounce 300ms cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
    transform-style: preserve-3d;
}

@keyframes showBounce{
    100%{
        opacity: 1;
        transform: translateX(-21px) skewY(-5deg);
    }
}


.sub-menu li{
    display: flex;
}

.sub-menu a{
    font-size: 17px;
}


.menu-item:nth-of-type(3) .sub-menu li:nth-of-type(2) a{
    font-size: 21px;
}

.menu-item:nth-of-type(3) .sub-menu li:nth-of-type(3) a{
    font-size: 27px;
}

.menu-item a{
    position: relative;
    text-align: center;
}

.menu-item a:before{
    content: '';
    display: block;
    font-size: 34px;
    transform: rotateZ(-8deg);
    margin-bottom: 5px;
    transition: transform 189ms ease-out;
}

.menu-item a:hover:before{
    animation: hoverEmoji 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

@keyframes hoverEmoji{
    0%{
        transform: scaleX(.89) rotateX(-21deg) rotateZ(-8deg);
    }
    100%{
        transform:  rotateZ(-8deg);
    }
}

nav > ol > .menu-item:nth-of-type(1) > a:before{
    content: '🏠';
}

/* ENTIRE DOCUMENT */
/* Styling for the whole page */
body {
    /* Layout declarations */
    margin: 0 auto;
    /* Typography declarations */
    font-size: 62.5%;
    font-family: "Muli", "Helvetica Neue", "Arial", "sans-serif";
    font-weight: 300;
    color: #EDEDED;
    -webkit-font-smoothing: antialiased;
}

/* HEADER */
.masthead {
    /* Layout declarations */
    background-color: #030a13 ;
    /*background-size: cover;*/
    padding: 1em 2em;
    border-top: 8px solid #030a13;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    /* Typography declarations */
    font-size: 4em;
}

.masthead-intro {
    margin: 2em 0 0 0;
}

.masthead-heading {
    /* Typography declarations */
    font-size: 10rem;
    /* Layout declarations */
    padding: 0;
    margin: 0 0 1em;
}

/* BODY */
/* General styling for the three sections of the body */
section {
    /* Layout declarations */
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

/* Gradient that runs through the body */
.gradient {
    padding: 10em;
    /* can be treated like a fallback */
    background-color: #000000;;
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(#000000, #262626);
}

/* The h2 tags are the main categories */
h2 {
    /* Typography declarations */
    font-size: 4em;
}

/* The h3 tags are the additional questions */
h3 {
    /* Typography declarations */
    font-style: italic;
    font-size: 2.5em;
}

/* The p tags that are descendants of the section tags are the answers */
section p {
    /* Typography declarations */
    font-size: 2em;
    line-height: 1.3em;
}

/* This class is included in the last p tag of each section to create more space */
.space-maker {
    /* Layout declarations */
    margin-bottom: 3em;
}

/* FOOTER */
.content-footer {
    /* Layout declarations */
    background: #000000;
    padding: 10em;
    border-bottom: 8px solid #EDEDED;
}

.content-footer > p {
    /* Layout declarations */
    line-height: 1.3em;
    text-align: center;
    /* Typography declarations */
    font-size: 2em;
}

.social {
    /* Layout declarations */
    text-align: center;
    padding: 0;
}

.social > li {
    /* Layout declarations */
    display: inline-block;
    line-height: 1.3em;
    margin-right: 2em;
    /* Typography declarations */
    font-size: 2em;
}

a {
    /* Typography declarations */
    color: #EDEDED;
    text-decoration: none;
}

a:hover {
    /* Layout declarations */
    color: #262626;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.social li:last-child {
    /* Layout declarations */
    margin-right: 0;
}

/* Responsive design */
@media only screen and (max-width: 500px) {
    /* HEADER */
    .masthead {
        padding: 1em;
    }

    .masthead-intro {
        font-size: 1.5rem;
    }

    .masthead-heading {
        font-size: 4rem;
    }

    /* BODY */
    .gradient {
        padding: 5em;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    section p {
        font-size: 1rem;
    }

    /* FOOTER */
    .content-footer {
        padding: 4em;
    }

    .social > li {
        /* Layout declarations */
        display: block;
        margin-right: 0;
    }

    a {
        line-height: 3em;
    }

    .content-footer p a {
        line-height: 0;
    }
}

/* FOOTER */
@media only screen and (max-width: 344px) {
    .content-footer p a {
        line-height: 3em;
    }
}